@model IEnumerable<InventoryManagement.Models.Product>
@using InventoryManagement.Utilities

@{
    ViewData["Title"] = "Home Page";
}

<header class="header">
    <div class="container pt-sm-5">
        <div class="heading-primary">
            Los mejores productos <span>&</span> <span>Marcas en nuestra Tienda</span>
        </div>
    </div>
</header>

<section>
    <div class="container my-2">
        <div class="col-sm-6 d-flex">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Buscar..." aria-label="Buscar" aria-describedby="button-addon2" />
                <button class="btn btn-outline-primary">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </div>

        <div class="row">
            @foreach(var product in Model)
            {
                <div class="col-sm-6 col-lg-3 d-flex">
                    <div class="card w-100 my-2">
                        <img src="@StaticDefinitions.ImgRoute@product.ImgUrl" class="card-img-top" style="aspect-ratio: 1 / 1" />
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">@product.Description</h5>
                            <p class="card-text">$ @String.Format("{0:#,##0.00}", product.Price)</p>
                            <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto bg-white">
                                <a href="#" class="btn btn-outline-primary"><i class="bi bi-tags-fill"></i> Detalle</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>