@model InventoryManagement.Models.Brand

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Nueva Marca";
    ViewData["Title"] = title;
}

<form method="post" class="row">
    <div class="mx-auto col-10 col-md-6">
        <div class="row border-0">
            <div asp-validation-summary="ModelOnly" class="text-warning"></div>
        </div>

        @if(Model.Id != 0)
        {
            title = "Actualizar Marca";
            <input type="hidden" asp-for="Id" id="id"/>
        }
        <div>
            <h2 class="text-primary text-center">@title</h2>
        </div>

        <div class="row mb-2 mt-2">
            <div class="mb-3">
                <label>Nombre:</label>
                <input type="text" asp-for="Name" class="form-control" placeholder="Nombre de la bodega." id="name" />
                <span asp-validation-for="Name" class="text-warning"></span>
            </div>
        </div>
        <div class="row mb-2 mt-2">
            <div class="mb-3">
                <label>Descripción:</label>
                <input type="text" asp-for="Description" class="form-control" placeholder="Descripción de la bodega." />
                <span asp-validation-for="Description" class="text-warning"></span>
            </div>
        </div>
        <div class="row mb-2 mt-2">
            <div class="mb-3">
                <label>Estado:</label>
                <select asp-for="Status" class="form-select">
                    <option value=true>Activo</option>
                    <option value=false>Inactivo</option>
                </select>
                <span asp-validation-for="Status" class="text-warning"></span>
            </div>
        </div>

        <div>
            @if(Model.Id != 0)
            {
                <partial name="_UpdateAndGoBack" model="Model.Id"/>
            } else
            {
                <partial name="_CreateAndGoBackButton" />
            }
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial"/>

    <script>
        document.getElementById("name").addEventListener('change', function () {
            validateName()
        })

        function validateName(){
            var url = '@Url.Content("~/")' + "Admin/Brand/ValidateName"
            var id = "#id"
            var name = '#name'

            $.getJSON(url, { id: $(id).val(), name: $(name).val()}, function (data) {
                $.each(data, function (key, value) {
                    if(value) {
                        var name = document.getElementById("name")
                        swal("Error", "El nombre ya existe", "error")
                        name.value = ""
                    }
                })
            })
        }
    </script>
}