
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-6">
        <h2 class="text-primary">Productos</h2>
    </div>
    <div class="col-lg-6">
        <a class="btn btn-primary" asp-action="Upsert"><i class="bi bi-plus-square-fill"></i> Crear Producto Nuevo</a>
    </div>
</div>

<div class="p-4 border rounded bg-light mt-5">
    <table id="tblData" class="table table-striped table-bordered table-hover nowrap">
        <thead class="table-dark">
            <tr>
                <th>Número de serie</th>
                <th>Descripción</th>
                <th>Categoria</th>
                <th>Marca</th>
                <th>Costo</th>
                <th>Precio</th>
                <th>Estado</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="~/js/product.js"></script>
}